# LOAD DATA

In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv("movie_classification.csv")

In [3]:
print(f"Ukuran dataset = {dataset.shape}")
print("Berikut adalah ukuran data dari movie_classification.csv: ")
dataset.head()

Ukuran dataset = (506, 19)
Berikut adalah ukuran data dari movie_classification.csv:

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400,1
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800,1
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400,1

In [4]:
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           494 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
 18  Start_Tech_Oscar     506 non-null    int64
dtypes: float64(12), int64(5), object(2)
memory usage: 75.2+ KB
None

# Cek nilai duplikat dan hapus nilai duplikat tersebut

In [5]:
print(dataset.duplicated().sum())

0

# Menemukan missing values

In [6]:
print(dataset.isna().sum())

Marketing expense       0
Production expense      0
Multiplex coverage      0
Budget                  0
Movie_length            0
Lead_ Actor_Rating      0
Lead_Actress_rating     0
Director_rating         0
Producer_rating         0
Critic_rating           0
Trailer_views           0
3D_available            0
Time_taken             12
Twitter_hastags         0
Genre                   0
Avg_age_actors          0
Num_multiplex           0
Collection              0
Start_Tech_Oscar        0
dtype: int64

# Drop missing values

In [7]:
dataset.drop(['Time_taken'], axis=1, inplace=True)

In [8]:
#cek missing values
def missing_value(dataset):
    missing_value = dataset.isnull().sum()
    total_cells = dataset.shape[0]
    missing_percentage = (missing_value/total_cells) * 100
    return pd.DataFrame({
        'Missing Values': missing_value,
        'Missing Percentage': missing_percentage
    })

missing_value(dataset)

                     Missing Values  Missing Percentage
Marketing expense                 0                 0.0
Production expense                0                 0.0
Multiplex coverage                0                 0.0
Budget                            0                 0.0
Movie_length                      0                 0.0
Lead_ Actor_Rating                0                 0.0
Lead_Actress_rating               0                 0.0
Director_rating                   0                 0.0
Producer_rating                   0                 0.0
Critic_rating                     0                 0.0
Trailer_views                     0                 0.0
3D_available                      0                 0.0
Twitter_hastags                   0                 0.0
Genre                             0                 0.0
Avg_age_actors                    0                 0.0
Num_multiplex                     0                 0.0
Collection                        0                 0.0
Start_Tech_Oscar                  0                 0.0